Bibl.log
auto/*
*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.log
*.nlo
*.nls
*.out
*.synctex.gz
*.el
.refresh
candidate_list.md
comments/
main.fdb_latexmk
main.fls
main.run.xml
main.toc
unsrt.bst
worksheet.pdf
worksheet.tex
